<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dillon Hamilton</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<header></header>
<aside>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</aside>
<div class="container">
    <h1>Hello!</h1>
    <p>My name is Dillon. I'm a software developer. I'm into building stuff on the web with Javascript and Ruby.</p>
    <p><a href="/contact">Hire Me!</a></p>
</div>
<footer></footer>
</body>
</html>