<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dillon Hamilton</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
<header></header>
<div class="container">
    <article role="main">
        <h1>Hello!</h1>
        <p>My name is Dillon. I'm a software developer. I'm into building stuff on the web with JavaScript and Ruby.</p>
    </article>
    <aside role="complimentary">
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </aside>
</div>
<footer></footer>
</body>
</html>